<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="libraries.LibrariesPackage" genModel="model/libraries.genmodel" uri="http://www.polarsys.org/capella/common/libraries/5.0.0"/>
  </extension>
</plugin>
