<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="behavior.BehaviorPackage" genModel="model/Behavior.genmodel" uri="platform:/resource/org.polarsys.capella.common.data.behavior.gen/model/Behavior.ecore"/>
  </extension>
</plugin>
