<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="org.polarsys.capella.common.data.activity.ActivityPackage" genModel="model/Activity.genmodel" uri="platform:/resource/org.polarsys.capella.common.data.activity.gen/model/Activity.ecore"/>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Activity -->
      <parser
            type="activity"
            class="org.polarsys.capella.common.data.activity.util.ActivityResourceFactoryImpl"/>
   </extension>
</plugin>
