<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.capellamodeller.CapellamodellerPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/CapellaModeller.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.capellacore.CapellacorePackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/CapellaCore.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.la.LaPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/LogicalArchitecture.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.pa.PaPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/PhysicalArchitecture.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.pa.deployment.DeploymentPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/PhysicalArchitecture.ecore#/deployment">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.epbs.EpbsPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/EPBSArchitecture.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.sharedmodel.SharedmodelPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/SharedModel.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.requirement.RequirementPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/Requirement.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.capellacommon.CapellacommonPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/CapellaCommon.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.information.InformationPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/Information.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.information.communication.CommunicationPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/Information.ecore#/communication">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.information.datatype.DatatypePackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/Information.ecore#/datatype">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.information.datavalue.DatavaluePackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/Information.ecore#/datavalue">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.cs.CsPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/CompositeStructure.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.fa.FaPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/FunctionalAnalysis.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.interaction.InteractionPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/Interaction.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.oa.OaPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/OperationalAnalysis.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.polarsys.capella.core.data.ctx.CtxPackage"
            genModel="model/CapellaModeller.genmodel"
            uri="platform:/resource/org.polarsys.capella.core.data.gen/model/ContextArchitecture.ecore">
      </package>
   </extension>

</plugin>
